{% extends 'plantillaBase.html.twig' %}

{% block titulo %}ALTA{% endblock %}

{% block tituloheader %}ALTA DE PRODUCTOS{% endblock %}

{% block contenido %}
    <p>Página dedicada al alta de Productos </p>
{% endblock %}