{% extends 'plantillaBase.html.twig' %}

{% block titulo %}BAJA{% endblock %}

{% block tituloheader %}BAJA DE PRODUCTOS{% endblock %}

{% block contenido %}
    <p>Página dedicada a la baja de Productos </p>
{% endblock %}