{% extends 'plantillaBase.html.twig' %}

{% block titulo %}LISTADO{% endblock %}

{% block tituloheader %}LISTADO DE PRODUCTOS{% endblock %}

{% block contenido %}
    <div class="container">
        <h2>Página dedicada al listado de Productos</h2>
    </div>
    <div class="container">
        <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Stock</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% set cantidad = inventario | length %}
            {% for i in range (0, cantidad - 1) %}
                <tr>
                    <td>{{ inventario[i].codigo }}</td>
                    <td>{{ inventario[i].nombre }}</td>
                    <td>{{ inventario[i].stock }}</td>
                    <td>{{ inventario[i].precio }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    <div>
{% endblock %}