<a href="{{ path('altaProducto') }}" class="btn btn-link">Alta</a>
<a href="{{ path('bajaProducto') }}" class="btn btn-link">Baja</a>
<a href="{{ path('modificaProducto') }}" class="btn btn-link">Modificación</a>
<a href="{{ path('listadoProducto') }}" class="btn btn-link">Listado</a>