{% extends 'plantillaBase.html.twig' %}

{% block titulo %}MODIFICACIÓN{% endblock %}

{% block tituloheader %}MODIFICACIÓN DE PRODUCTOS{% endblock %}

{% block contenido %}
    <p>Página dedicada a la modificación de Productos </p>
{% endblock %}